body {
    background-color:#343a40;
}

// .card {
//     background-color: #5f5b7e46;
// }
.card-header {
    background-color: #ffffff63;
}

.list-container__photo {
    width: 50px;
        height: auto;
    img {
        width: 50px;
        height: auto;
    }
}

legend {
    font-size: 10px;
}

.sort {
    font-size: 10px;
    color:honeydew;
}

.small-photo {
    img {
        width: 80px;
        height: auto;
    }
}